**/target
**/Cargo.lock
**/data

**/orb_slam3/lib/*
**/lib/**
**/build/**
**/CMakeCache.txt
**/CMakeFiles/**
**/output.log
**/Vocabulary/*

**/.vscode/**
darvis/results/*
foxglove/results/*
darvis/autogen_*
*.pyc
