**/target
**/Cargo.lock
**/data

**/orb_slam3/lib/*
**/lib/**
**/build/**
**/CMakeCache.txt
**/CMakeFiles/**
**/output.log
**/Vocabulary/*

**/.vscode/**
bauhaus/results/*
foxglove/results/*
bauhaus/autogen_*
*.pyc
*.g2o
*.log
